.page .intro {
  font-size: 1.1875em;
  line-height: 1.89474em;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
  border-bottom: solid 1px #415200;
  text-align: justify;
}
/* line 192, ../../scss/screen.scss */
.page .body {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}

.page .valores {
  text-align: justify;
}
.page .valores h4 {
  text-align: center;
}
.page .valores i {
  color: #a2cd00;
}

/* line 569, ../../scss/screen.scss */
.node-page .row.localizacion {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  border-width: 0.0625em;
  border-style: solid;
  padding: 1.4375em;
  border: none;
  padding-left: 0;
  padding-right: 0;
}
