<footer class="footer">
  <section class="footer__section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 footer__block">
          {% include informacion-contacto.html %}
        </div>
        <div class="col-sm-4 footer__block">
          {% include menu-block.html %}
        </div>
        <div class="col-sm-4 footer__block">
          {% include tkn-block.html %}
        </div>
      </div>
    </div>
  </section>
  <section class="footer__section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 footer__block small-font">
          {% include copyright.html %}
        </div>
      </div>
    </div>
  </section>
</footer>
