<footer class="footer">
  <section class="footer__section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="footer__block">
            {% include informacion-contacto.html %}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="footer__block footer__menu">
            {% include menu-block.html %}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="footer__block footer__logo">
            {% include tkn-block.html %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer__section">
    <div class="footer__block footer__copy">
      {% include copyright.html %}
    </div>
  </section>
</footer>
