<div class="header--links container">
  <div class="pull-right">
    <ul class="list-inline">
      <li><a href="/es"><abbr title="Español">es</abbr></a></li>
      <li><a href="/en"><abbr title="English">en</abbr></a></li>
      <li><a href="/fr"><abbr title="Français">fr</abbr></a></li>
      <li><a href="/de"><abbr title="Deutsch">de</abbr></a></li>
    </ul>
  </div>
  <div class="pull-right">
    <p><a class="visible-xs" href="tel:+349433636179"><i class="fas fa-phone">&nbsp;</i>+34 943 636 179</a></p>
    <span class="hidden-xs"><i class="fa fa-phone"></i>+34 943 636 179</span>
  </div>
</div>
