<article class="post post__teaser">
  <div class="post__date">
    <p class="post__date-day">{{ post.date | date: "%d" }}</p>
    <p class="post__date-month-year">{{ post.date | date: "%b - %Y"}}</p>
  </div>
  <div class="post__content">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <div class="post__excerpt">
      <p>{{ post.excerpt }}</p>
    </div>
  </div>
  <div class="post__links">
    <ul class="links inline">
      <li class="post__link">
        <a href="{{ post.url }}" rel="tag" title="Actualización de la flota">{{ site.data.translations[page.lang].leer-mas}}</a>
      </li>
    </ul>
  </div>
</article>
