input,
textarea,
select {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #acacac;
  box-sizing: border-box;
  color: #666;
  display: block;
  margin-bottom: 1em;
  max-width: 100%;
  padding: 0.375em 0.625em;
}

input[type="submit"] {
  background-color: #a2cd00;
  border: medium none;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125em;
  padding: 0.375em 0.75em;
  font-weight: 400;
}

input[type="submit"]:hover {
  background-color: #719000;
}

sup,
sub {
  font-size: 0.8em;
}

.vertical-rhythm {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5em;
}


main {
  font-weight: 300;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin-top: 0;
  h1 {
    margin-top: 3em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 3em;
    line-height: 2.25em;
    text-align: center;
    span {
      padding: 0.5em;
      background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    }
  }
  p, dl {
    margin-top: 1.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 1.5em;
  }
  .container-fluid {
    max-width: 1300px;
    &.bg-green {
      background-color: #a2cd00;
      color: white;
      margin-bottom: 1.5em;
      background-size: cover;
      background-position: center left;
      background-repeat: no-repeat;
    }
  }
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  text-transform: uppercase;
}


/* line 227, ../../scss/screen.scss */
main #content {
  overflow: hidden;
}
/* line 232, ../../scss/screen.scss */
main .region-after-content .block {
  margin-top: 3em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 3em;
}
/* line 234, ../../scss/screen.scss */
main .region-after-content .block > h2 {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  margin-top: 0;
}

/**
 * Sidebar First
 */
/* line 245, ../../scss/screen.scss */
.region-sidebar-first {
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 247, ../../scss/screen.scss */
.region-sidebar-first .block {
  margin-bottom: 2.8125em;
}
/* line 249, ../../scss/screen.scss */
.region-sidebar-first .block h2 {
  font-size: 1.125em;
  line-height: 1.33333em;
  font-weight: 700;
  margin-bottom: 1.25em;
}
/* line 255, ../../scss/screen.scss */
.region-sidebar-first .block dl dt {
  display: none;
}
/* line 259, ../../scss/screen.scss */
.region-sidebar-first .block dd,
.region-sidebar-first .block li {
  margin-bottom: 0.3125em;
}
/* line 262, ../../scss/screen.scss */
.region-sidebar-first .block dd::before,
.region-sidebar-first .block li::before {
  font-family: Fontawesome;
  content: "\f105\0000a0";
}
/* line 270, ../../scss/screen.scss */
.region-sidebar-first #block-block-1 dd::before {
  content: "";
}

/**
 * News
 */
/*
.view-news {
  @include rhythm;
  margin-top: 0;
  .views-row {
    @include rhythm;
  margin-top: 0;
  }
}
*/
/* line 351, ../../scss/screen.scss */
.node-post {
  padding-bottom: 2.5em;
  margin-bottom: 2.5em;
  border-bottom: 1px dotted #ccc;
}
/* line 355, ../../scss/screen.scss */
.node-post img {
  margin-bottom: 1em;
}
/* line 358, ../../scss/screen.scss */
.node-post h1 {
  margin-top: 0;
  margin-bottom: 1em;
  text-align: justify;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.625em;
}
/* line 367, ../../scss/screen.scss */
.node-post .post-date {
  float: left;
  width: 6.25em;
}
/* line 370, ../../scss/screen.scss */
.node-post .post-date .day {
  margin: 0;
  background-color: #fcfcfc;
  color: #333;
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  padding: 20px 30px;
  text-align: center;
}
/* line 380, ../../scss/screen.scss */
.node-post .post-date .month {
  margin: 0;
  color: #fff;
  background-color: #a2cd00;
  font-weight: 700;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  /* line 367, ../../scss/screen.scss */
  .node-post .post-date {
    width: 70px;
  }
  /* line 391, ../../scss/screen.scss */
  .node-post .post-date .day {
    padding: 10px;
    font-size: 21px;
  }
  /* line 395, ../../scss/screen.scss */
  .node-post .post-date .month {
    padding: 5px;
    font-size: 13px;
  }
}
/* line 401, ../../scss/screen.scss */
.node-post .meta {
  clear: both;
  float: left;
  width: 6.25em;
}
/* line 405, ../../scss/screen.scss */
.node-post .meta .field-items {
  font-size: 0.75em;
  line-height: 2em;
  padding: 0.3em 0.5em;
}
@media only screen and (max-width: 767px) {
  /* line 401, ../../scss/screen.scss */
  .node-post .meta {
    width: 70px;
  }
}
/* line 415, ../../scss/screen.scss */
.node-post .content {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  padding-left: 8.125em;
}
/* line 418, ../../scss/screen.scss */
.node-post .content h3 {
  margin-bottom: 1.5em;
  font-weight: 700;
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.625em;
}
/* line 425, ../../scss/screen.scss */
.node-post .content p {
  text-align: justify;
}
/* line 428, ../../scss/screen.scss */
.node-post .content .node-readmore {
  float: right;
  transition: all 0.2s ease 0s;
}
/* line 431, ../../scss/screen.scss */
.node-post .content .node-readmore:hover {
  transform: translate(-0.5em, 0);
}
/* line 434, ../../scss/screen.scss */
.node-post .content .node-readmore a {
  position: relative;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #a2cd00;
}
/* line 443, ../../scss/screen.scss */
.node-post .content .node-readmore a:hover::after {
  font-family: Fontawesome;
  content: "\0000a0\f105";
}
/* line 448, ../../scss/screen.scss */
.node-post .content .node-readmore a .element-invisible {
  display: none;
}
@media only screen and (max-width: 767px) {
  /* line 455, ../../scss/screen.scss */
  .node-post .content {
    padding-left: 90px;
  }
}

/* line 461, ../../scss/screen.scss */
.region-before-content-thirdcolumn .node-post {
  border-bottom: none;
}

/* line 470, ../../scss/screen.scss */
.node-terminal {
  margin-top: 4.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 4.5em;
  position: relative;
}
/* line 473, ../../scss/screen.scss */
.node-terminal header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 1em;
}
/* line 481, ../../scss/screen.scss */
.node-terminal header a {
  color: white;
}

/* line 488, ../../scss/screen.scss */
.view-terminales li::before {
  font-family: Fontawesome;
  content: "\f178\0000a0";
  color: #a2cd00;
}
/* line 494, ../../scss/screen.scss */
.view-terminales li:hover a {
  color: #a2cd00;
}
/* line 498, ../../scss/screen.scss */
.view-terminales li a {
  text-decoration: none;
}
/* line 504, ../../scss/screen.scss */
.view-terminales ul#terminales li::before {
  content: none;
}

/**
 * Google map
 */
/* line 514, ../../scss/screen.scss */
#map-canvas {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  height: 400px;
}
/* line 517, ../../scss/screen.scss */
#map-canvas.small {
  height: 250px;
}
/* line 520, ../../scss/screen.scss */
#map-canvas img {
  max-width: inherit;
}

/**
 * Panels
 */
/* line 529, ../../scss/screen.scss */
.panel .panel-heading {
  text-transform: uppercase;
  background-color: #a2cd00;
  color: white;
  font-weight: 700;
}
/* line 536, ../../scss/screen.scss */
.panel .panel-body img {
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* line 545, ../../scss/screen.scss */
.panel .list-group li i {
  color: #a2cd00;
}



/**
 * Front
 */
/* line 625, ../../scss/screen.scss */
.call-to-action {
  border-width: 0em;
  border-style: solid;
  padding: 1.5em;
  background-color: DarkSlateGray;
  color: white;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/sites/all/themes/tkn01/a/i/parallax01.jpg");
  background-position: center center;
}
/* line 637, ../../scss/screen.scss */
.call-to-action .text h2 {
  font-weight: 700;
}
/* line 641, ../../scss/screen.scss */
.call-to-action .action {
  margin-top: 3em;
}
/* line 643, ../../scss/screen.scss */
.call-to-action .action .btn {
  color: white;
  background-color: #a2cd00;
  margin: 0 auto;
  display: table;
}

/**
 * Slider
 */
/* line 655, ../../scss/screen.scss */
.banner-container {
  width: 100%;
  max-width: 1300px;
  position: relative;
  margin: 0 auto;
  padding: 0;
}
/* line 661, ../../scss/screen.scss */
.banner-container .banner {
  width: 100%;
  position: relative;
}

/* line 668, ../../scss/screen.scss */
.tp-caption.medium_bold_white {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Source Sans Pro";
  color: #a2cd00;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 0px;
  border-color: #ffd658;
  border-style: none;
  padding: 0.5em;
  white-space: pre-line;
}

/* line 684, ../../scss/screen.scss */
.tp-caption {
  width: 100%;
  /*
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/sites/all/themes/tkn01/a/i/parallax01.jpg");
    background-position: center center;
  */
}
