$green-base: #a2cd00;
$green-l0: lighten($green-base, 30%);
$green-l1: lighten($green-base, 60%);
$green-l2: lighten($green-base, 90%);
$green-d0: darken($green-base, 3%);
$green-d1: darken($green-base, 15%);
$green-d2: darken($green-base, 9%);

$gris-oscuro: #333;

a,
a:visited {
  color: $green-d1;
}

a:hover,
a:focus {
  color: $green-d0;
}

strong {
  color: $green-d0;
}
