<!DOCTYPE html>
{% assign lang = page.lang | default: "es" %}
<html lang="{{ lang }}">

  {% include head.html %}

  <body>
    {% include header-links.html %}
    {% include navigation.html %}

    <section>
      {% include slider.html %}
    </section>

    <main role="main">
      <div class="container vertical-rhythm mt-5">
        <div class="row">
          <div class="col-md-4">
            <h2 class="vertical-rhythm mt-0">{{ site.data.translations[lang].servicios | upcase }}</h2>
            <ul>
              {% assign servicios = site.servicios | where: "lang", lang | sort: "orden" %}
              {% for servicio in servicios %}
              <li>
                <p class="h4">
                  <i class="fa fa-check">&nbsp;</i>
                  {{ servicio.title }}
                </p>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-4">
            <h2 class="vertical-rhythm mt-0">{{ site.data.translations[lang].certificaciones | upcase }}</h2>
            <ul>
              {% assign documentos = site.documentos | where: "lang", lang %}
              {% for documento in documentos %}
              <li><img src="{{ documento.imagen }}" alt="{{ documento.title }}" width="220px" /></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-4">
            <h2 class="vertical-rhythm mt-0">{{ site.data.translations[lang].ultimas-noticias | upcase }}</h2>
            {% for post in site.posts limit: 1 %}
            {% include post-excerpt.html %}
            {% endfor %}
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
