$green-base: #a2cd00;
$green-l0: tint($green-base, 30);
$green-l1: tint($green-base, 60);
$green-l2: tint($green-base, 90);
$green-d0: shade($green-base, 30);
$green-d1: shade($green-base, 60);
$green-d2: shade($green-base, 90);

$gris-oscuro: #333;
